{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Contact Book{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}{% endblock %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">

    <!-- Toastify CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body>

    {% if request.path != '/login/' and request.path != '/registration/' and request.path != '/' %}
    {% include "components/navbar.html" %}
    {% endif %}
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>

    <!-- Toastify JS -->
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    {% if messages %}
    <script>
        {% for m in messages %}
        {% if m.tags == 'success' %}
        var bg = "green";
        {% elif m.tags == 'error' %}
        var bg = "red";
        {% else %}
        var bg = "blue";
        {% endif %}

        Toastify({
            text: "{{ m }}",
            duration: 3000,
            gravity: "top",
            position: "right",
            backgroundColor: bg,
            close: true,
        }).showToast();
        {% endfor %}
    </script>
    {% endif %}

</body>

</html>